.mainContent {
  max-width: 800px;
  padding-top: 30px;
  overflow-x: hidden;
}

.paddingLeftRight {
  padding-left: 20px;
  padding-right: 20px;
}

.statLabel {
  text-align: left;
}

.statIcon {
  height: 8vh;
  float: right;
}