body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: 800px;
  padding-top: 30px;
}

.statLabel {
  text-align: left;
}

.statIcon {
  height: 8vh;
  float: right;
}